@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}
.swiper-slide {
  transition: transform 0.3s ease;
}
.swiper-slide-active .swiper-slide-scale {
  transform: scale(1.15);
}
